body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(24, 40px);
  align-self: center;
  position: absolute;
  top: 25px;
  width: 225px;
  height: 970px;
}

.fret {
  border: 1px solid lightgrey;
}

.note-circle-container {
  display: grid;
  grid-template-columns: repeat(6, 25px);
  grid-template-rows: repeat(25, 25px);
  /* justify-content: space-between; */
  width: 225px;
  height: 970px;
  /* align-content: space-between; */
  column-gap: 15px;
  row-gap: 15px;
  position: absolute;
  align-self: center;
  top: -8px;
  right: -98px;
}

.note-circle {
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  visibility: hidden;
}

.neck-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 25px;
}
